body {
  margin: 0;
  padding: 0;
}

.content {
  border: 1px solid gray;
  background-color: white;
  width: 500px;
  height: 700px;
  padding: 58px 76px 0 76px;
  color: black;
}
.span {
  font: 12px Arial, Helvetica, sans-serif;

  margin-left: 30px;
}
input {
  font: 12px Arial, Helvetica, sans-serif;
  color: black;
  width: 205px;
  padding: 10px 4px 6px 3px;
  border: 1px solid #0d2c52;
  background-color: white;
  font-size: 16px;
}
.nameField {
  font: 14px Arial, Helvetica, sans-serif;
  display: inline-block;
  width: 80px;

  text-align: left;
  padding: 14px 10px 0 0;
  margin: 0 0 7px 0;
}
.inputField {
  font: 12px Arial, Helvetica, sans-serif;
  display: inline-block;
  width: 130px;
  margin: 0;
  margin: 0 0 7px 0;
}
.btn {
  margin: 10px;
}
::placeholder {
  color: white;
  opacity: 1;
}

a:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition: transform 0.2s ease-in-out;
}

.app-title {
  text-align: center;
  font-weight: bold;
}
